{% extends "base.html" %}
{% block content %}

<h1 style="font-size:32px">
👋 Hello Anurag
</h1>

<iframe src="https://www.watchisup.com/countdown/jee-mains-2028-2/embed" width="100%" height="500" frameborder="0" style="border-radius:12px;"></iframe>
<p style="font-size:11px;color:#999;text-align:center;margin-top:4px;"><a href="https://www.watchisup.com/countdown/jee-mains-2028-2?utm_source=embed&utm_medium=widget&utm_campaign=countdown" target="_blank" rel="noopener">Jee Mains 2028 on WatchIsUp</a></p>

<h2>⏳ Upcoming Deadlines</h2>
<div class="cardlist" id="deadlineBox">
    <p>Loading deadlines...</p>


<h3 style="opacity:0.7">
Today is {{today}}
</h3>


</div>
<h4>Today's schedule</h4>


<div class="cardlist">

{% if tasks %}

{% for t in tasks %}

<div class="card">

<b>{{ t.title }}</b>

<p>
🕒 {{ t.start }} - {{ t.end_time }}
</p>

<p>
Priority: {{ t.priority }}
</p>

</div>

{% endfor %}

{% else %}

<p>No tasks for today 🎉</p>

{% endif %}

</div>


{% endblock %}
